.europe-sightseeing {
  display: flex;
  min-height: 1130px;
  max-width: 1490px;
  margin: auto;
}

.sightseeing-container {
  min-height: 750px;
  width: 1490px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  padding: 20px;
}

.sightseeing-left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sightseeing-right-side {
  display: flex;
  margin-right: 75px;
  max-width: 580px;
}

.sightseeing-note {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.sightseeing-title {
  color: #181e4b;
  font-family: "Volkhov", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
  max-width: 640px;
}

.sightseeing-description {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 26px;
  max-width: 575px;
}

.sightseeing-btn {
  border-radius: 10px;
  border: none;
  color: #fff;
  background: #df6951;
  padding: 10px 25px;
  max-width: 150px;
}

.sightseeing-image-container {
  display: flex;
  gap: 55px;
  position: absolute;
  margin-top: 80px;
  bottom: 50px;
}

.sightseeing-image-container1,
.sightseeing-image-container2 {
  display: flex;
  gap: 55px;
}

.sightseeing-main-image {
  border-radius: 375px 375px 0 0;
  border-left: var(--gradient, #a7327a) 2px solid;
  border-top: var(--gradient, #a7327a) 2px solid;
  padding: 18px 0 0 12px;
}

.sightseeing-vertical-text {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 68px;
  transform: rotate(-90deg);
  opacity: 0.1;
  max-width: 575px;
  max-height: 70px;
  position: absolute;
  right: -220px;
  bottom: 240px;
}

@media screen and (max-width: 1270px) {
  .sightseeing-container {
    flex-direction: column;
    margin: 50px auto;
  }

  .sightseeing-left-side {
    margin: auto;
    gap: 20px;
  }

  .sightseeing-right-side {
    position: relative;
    margin: auto;
  }

  .sightseeing-note {
    font-size: 14px;
  }

  .sightseeing-title {
    font-size: 40px;
    line-height: 50px;
  }

  .sightseeing-description {
    font-size: 14px;
  }

  .sightseeing-images {
    width: 160px;
  }

  .sightseeing-image-container {
    position: relative;
    left: 0px;
    gap: 20px;
  }

  .sightseeing-image-container1,
  .sightseeing-image-container2 {
    gap: 20px;
  }

  .sightseeing-vertical-text {
    position: absolute;
    width: 575px;
    left: 235px;
    bottom: 250px;
  }
}

@media screen and (max-width: 768px) {
  .sightseeing-left-side {
    min-width: 200px;
  }

  .sightseeing-note {
    font-size: 10px;
  }

  .sightseeing-title {
    font-size: 30px;
    line-height: 40px;
  }

  .sightseeing-image-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .sightseeing-description {
    font-size: 12px;
  }

  .sightseeing-image-container1,
  .sightseeing-image-container2 {
    gap: 50px;
  }

  .sightseeing-main-image {
    width: 300px;
    padding: 10px 0 0 6px;
  }

  .sightseeing-vertical-text {
    font-size: 32px;
    left: 30px;
    bottom: 250px;
  }
}

@media screen and (max-width: 480px) {
  .sightseeing-image-container1,
  .sightseeing-image-container2 {
    gap: 15px;
  }

  .sightseeing-image-container {
    gap: 20px;
  }

  .sightseeing-images {
    width: 120px;
  }

  .sightseeing-main-image {
    width: 250px;
    padding: 8px 0 0 4px;
  }

  .sightseeing-title {
    font-size: 22px;
    line-height: 30px;
  }

  .sightseeing-vertical-text {
    max-width: 480px;
    font-size: 28px;
    right: 0px;
    bottom: 205px;
  }
}
