.tour-section {
  margin-block: 116px;
  text-align: center;
  font-family: Poppins;
}

.tour-section-header {
  max-width: 640px;
  margin-inline: auto;
}

.tour-header-chip {
  color: #df6951;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.tour-header-title {
  color: #181e4b;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 72px;
}

.tour-cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10px;
}

.tour-card {
  width: 390px;
}

.tour-card-header {
  max-height: 310px;
  position: relative;
}

.tour-card-cover-image {
  width: 100%;
  max-height: 310px;
  object-fit: cover;
}

.tour-card-country-flag {
  position: absolute;
  left: 30px;
  bottom: -20%;
}

.tour-card-content {
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.first-detail {
  margin-top: 10px;
}

.second-detail {
  justify-content: space-between;
}

.detail-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tour-card-detail {
  display: flex;
  align-items: center;
  margin-block: 5px;
  gap: 35px;
}

.tour-duration,
.tour-rsvp,
.tour-location {
  color: #7d7d7d;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.tour-country {
  color: #2f2f2f;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.tour-card-discount {
  color: #df6951;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}

.tour-card-cost {
  color: #7d7d7d;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.tour-card-description {
  text-align: start;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.tour-card-button {
  color: white;
  font-size: 12px;
  font-weight: 600;
  margin-top: 24px;

  border: transparent;
  display: grid;
  place-items: center;
  padding: 10px;

  border-radius: 8px;
  background-color: #df6951;
}

.tour-packages-section {
  margin: 100px auto;
  padding: 0 50px;
}

.div-section-container {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.div-tour-content-flex {
  display: flex;
}

.div-tour-content-flex-justify {
  display: flex;
  justify-content: space-between;
}

.div-tour-text {
  text-align: justify;
  max-width: 350px;
}

.div-tour-justify-content-right {
  justify-content: right;
}

@media screen and (max-width: 1280px) {
  .tour-card-header,
  .tour-card-cover-image {
    min-width: 50%;
    border-radius: 10px;
    object-position: bottom;
  }

  .tour-cards-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .tour-card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .second-detail {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .tour-header-title {
    font-size: 42px;
    line-height: 50px;
  }

  .tour-card {
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .tour-card-header,
  .tour-card-cover-image {
    max-height: 250px;
    min-width: 100%;
  }

  .tour-card-country-flag {
    max-width: 80px;
    left: 0;
    bottom: 0;
  }

  .second-detail {
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .tour-header-chip {
    font-size: 16px;
  }

  .tour-header-title {
    font-size: 32px;
  }

  .tour-card-header,
  .tour-card-cover-image {
    max-height: 200px;
  }

  .first-detail,
  .second-detail,
  .fourth-detail {
    justify-content: space-between;
  }

  .third-detail,
  .sixth-detail {
    justify-content: center;
  }

  .tour-card-description {
    text-align: center;
  }

  .tour-duration,
  .tour-rsvp,
  .tour-location {
    font-size: 14px;
  }

  .tour-country,
  .tour-card-discount {
    font-size: 24px;
  }

  .tour-card-cost {
    font-size: 18px;
  }

  .tour-card-button {
    font-size: 10px;
  }
}