#Wanderlust {
  position: relative;
  max-width: 1920px;
  background-image: url("../../images/Wanderlust.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 180px 20px;
}

.Wanderlust-text {
  color: #fff;
  font-family: "Yesteryear", cursive;
  font-size: 156px;
}

.play-button {
  position: absolute;
  z-index: 1;
  inset: 0;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .Wanderlust-text {
    font-size: 120px;
  }

  #Wanderlust {
    padding: 80px 20px;
  }

  .play-button {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .Wanderlust-text {
    font-size: 90px;
  }

  #Wanderlust {
    padding: 60px 40px 60px 10px;
  }

  .play-button {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .Wanderlust-text {
    font-size: 60px;
  }

  #Wanderlust {
    padding: 30x 0px;
  }

  .play-button {
    width: 30px;
    height: 30px;
  }
}
